version: '3.8'
services:
    postgres:
      container_name: postgres
      image: postgres:15
      environment:
        - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
        - POSTGRES_DB=${DATABASE_NAME}
        - POSTGRES_USER=${DATABASE_USER}
      ports:
        - ${DATABASE_PORT}:5432
      networks:
        - sql-network
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 10s
        timeout: 5s
        retries: 5

networks:
  sql-network:
    driver: bridge
    name: sql-network