version: '3.8'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - ${DATABASE_PORT}:1433
    networks:
      - sql-network
networks:
  sql-network:
    driver: bridge
