DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=TakeHomeChallengeDB
DATABASE_USER=postgres
DATABASE_PASSWORD=nilariver
DATABASE_TRUST_CERTIFICATE=True


POKEMON_API_PATH ="https://pokeapi.co/api/v2/pokemon"